@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
    <script src="../../Scripts/jquery-1.4.4.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $('#Print').click(function () {
            window.open("../Report/PrintFile");
        });
  </script>
</head>
<body>
    <div>
        <input type="button" id="Print"  value="Print"/>
    </div>
</body>
</html>
